
body {
    font-family: 'Roboto', sans-serif;
    color:#2E2F42
}
.list {
    list-style: none;
  }
  
  .link {
    text-decoration: none;
  }
  
  .title {
    font-family: 'Roboto';
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
  }
  
  .btn {
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    cursor: pointer;
}
:root {
    --brand-color: #4D5AE5;
  --main-btn-color:#F4F4FD;
  --second-btn-color: #404BBF;
}
/*----------------------------------------------- HEADER------------------------------------*/
.header {
    background-color: white;
  }
  .header-navigation {
  }
  .header-logo {
  }
  .header-list {
  }
  .header-item {
  }
  
  .header-link {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: inherit;
  }
  
  .header-link:hover,
  .header-link:focus {
    color: var(--brand-color);
  }
  
  .header-mail {
    font-family: inherit;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
    color: inherit;
  }
  .header-mail:hover,
 .header-mail:focus {
    color: var(--brand-color);
  }

  .header-tel {
    font-family: inherit;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
        color:inherit;
  }
  .header-tel:hover,
 .header-tel:focus {
    color: var(--brand-color);
  }

  /*------------------------------------------------section-filter------------------------------------------*/


  .section-filter {
    background-color: white;
}
.filter-list {
}
.list {
}
.filter-item {
}
.filter-btn {
    background: var(--main-btn-color);
    font-family: 'Roboto';
font-weight: 500;
font-size: 16px;
line-height: 1.5;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.04em;
  cursor: pointer;
color: var(--brand-color);
}
.btn {

}

.filter-btn:hover
{
    background-color:var(--second-btn-color);
    color: white;
    }

.filter-btn:focus {
    background-color:var(--second-btn-color);
    color: white;
  }

  /*--------------------------------------------------section-row1-list---------------------------------------------------------*/
  .row1-list {
}
.list {
}
.row1-item {
}
.row1-title {
    font-family: 'Roboto';
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: inherit;
}
.title {
}
.row1-subtitle {
    font-family: 'Roboto';
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;

}
.row1-item {
}
 /*--------------------------------------------------section-row2-list---------------------------------------------------------*/
 .row2-list {
}
.list {
}
.row2-item {
}
.row2-title {
    font-family: 'Roboto';
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: inherit;
}
.title {
}
.row2-subtitle {
    font-family: 'Roboto';
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;

}
.row2-item {
    
    }
 /*--------------------------------------------------section-row3-list---------------------------------------------------------*/
 .row3-list {
}
.list {
}
.row3-item {
}
.row3-title {
    font-family: 'Roboto';
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: inherit;
}
.title {
}
.row3-subtitle {
    font-family: 'Roboto';
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;

}
 .row3-item {
    
}

/*--------------------------------------------------------------------------------------footer--------------------------------------------------------------*/
.footer {
   background-color: #2E2F42;
}
.footer-logo {
}
.footer-text {
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #E7E9FC;
}